#searchbox input {
    padding: 10px 1rem;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    /* border: 2px solid var(--tertiary); */
    border-radius: 20px;
    transition: 0.25s;
    outline: 4px solid #FEBF00;
    background-color: #e2e2e2;
    border: 0;
    outline-offset: 3px;
}

#searchbox input:focus {
    border-color: var(--secondary);
    outline-offset: 7px;
    background-color: #fff
}

#searchResults li {
    list-style: none;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
    position: relative;
    font-weight: 500;
}

#searchResults {
    margin: 10px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    transform: scale(0.98);
    border: 2px solid var(--tertiary);
}
